
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Kanit', sans-serif;
}
body{
  background-color: black;
  color: rgb(248, 252, 255);
}
img{
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  object-fit: contain;
}
button{
  display: inline-block;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
ul{
  list-style: none;
}
.app{
  background-image: url("https://i.gifer.com/YFTz.gif");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
